.main {
  background-color: var(--main-bg);
}

.main__menu {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.main__title {
  background-color: var(--main-title-bg);
  color: var(--main-text); /* 
  display: flex;
  justify-content: center; */
  width: 5rem;
  padding: 0.5rem;
  margin: 3rem;
}
